# transport
transport.local.enabled     = 1
transport.local.port        = 25000
transport.public.enabled    = 1
transport.public.interface  = 0.0.0.0
transport.public.port       = 25001

# identity
identity.challenge.bytes    = 32
identity_source.size        = 16
identity_source-0.type      = file
identity_source-0.file.path = identities.csv

# channel
channel.shared_limits.pkt_rate_limit = 100000

# switch
switch.client_idle_timeout_ms        = 10000
switch.ignore_indication_cooldown_ms = 1000
switch.response_min_latency_ms       = 100